html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

.wrapper {
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.box {		
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.box-1 {
	height: 80px;
}

.box-2 {
	flex: 1;
}

.box-3 {
	height: 60px;
}


.hidden {
	display: none;
}

.input-row {
	padding-bottom: 15px;
}

#spin {
	z-index: 1000;
	
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#mapid {
	width: 100%; 
	height: 100%;
}

#img-upload {
	max-height: 300px;
	max-width: 100%;
}

#crosshair2 {
	z-index: 1000;
	
	width: 40px;
	height: 40px;

	position: absolute;
}

#crosshair {
	z-index: 1000;
	
	width: 40px;
	height: 40px;

	position: absolute;
	
	left: 100px;
	top: 100px;
}

#select-location-btn {
	position: fixed;
	top: 85%;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	z-index: 1000;
}

#top-row {
	height: 80px;
	width: 100%; 
	padding-bottom: 10px; 
	padding-top: 10px;
	background-color: lightblue;

	z-index: 1010;
}

.vote-top-row {
	display: grid;
}

@media only screen and (max-width: 400px) {
    .vote-top-row {
        grid-template-columns: auto;
    }
}

@media only screen and (min-width: 400px) {
    .vote-top-row {
        grid-template-columns: auto auto;
    }
}


.image {
	justify-items: end;
  	border: 3px solid #73AD21;
}

.vote-top-place {
  position: absolute;
  top: 40px;
  left: 40px;
    padding: 10px;
    background-color:  rgba(255, 255, 255, 0.5);
}


.vote-top-row > div {
    padding: 15px;
}

.vote-top-img {
    max-width: 300px;
    max-height: 300px;
}

.vote-top-text {
    width: 300px;
}

#about-project-link {
	display: block;
	float: right;
	margin-right: 15px;
	color: darkblue;
}

@media only screen and (max-width: 400px) {
	#report-btn {
		display: none;
	}

	#report-btn-2 {		
		position: fixed;
		top: 85%;
		left: 50%;
		width: 100px;
		margin-left: -50px;
		z-index: 1000;
	}
}

@media only screen and (min-width: 401px) {
	#report-btn {
		display: block;
		float: right;
		margin-right: 15px;
		width: 100px;
	}
	
	#report-btn-2 {
		display: none;
	}
}

#popup {
    display:block;
    width: 100px;
}

#popup-image {
    margin-bottom: 10px;
    max-width:100px;
}


/* change the background color */
.navbar-custom {
	background-color: lightblue;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: darkblue;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: darkblue;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: red;
}

.navbar-custom .navbar-toggler {
	color: green;
}

.navbar-custom .navbar-toggler-icon {
	background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
